ul {
  list-style-type: none;
}

img {
  display: block;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 48px 24px;
  justify-content: center;
}

/* .gallery-item {
  flex-basis: calc((100% - 24px) / 3);
  position: relative;
} */

.image {
  width: 360px;
  height: 300px;
}
